<footer>
    <div class='float-right p-5'>
        <%_ if (admin) { -%>
            <a href="/logout">Public view</a>
        <%_ } else {-%>
            <a href="/login">Employees only</a>
        <%_ } %>
    </div>
</footer>
