<footer>
    <div class='float-right p-5'>
        <%_ if (admin) { -%>
            <a href="/logout" class="btn btn-warning">Public view</a>
        <%_ } else {-%>
            <a href="/login" class="btn btn-warning">Employees only</a>
        <%_ } %>
    </div>
</footer>
