<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>The Java Barn</title>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Alegreya', serif;
    }

    .active, a:hover {
      color: rgb(254, 209, 4);
    }
    .navbar-custom {
      background-color: rgb(78, 8, 87);
    }
    
    .navbar-custom .navbar-text, a{
      color: white;
    }


  </style>
</head>