<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>The Java Barn</title>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  <style> 
      .navbar-custom { 
            background-color: rgb(108, 4, 143); 
        } 
      .navbar-custom .navbar-brand, 
      .navbar-custom .navbar-text { 
          color: white; 
      } 
  </style> 
</head>
