<!DOCTYPE html>
<html>
<%- include('head'); -%>

<body>
  <%- include('navbar', {active: 'home'}); -%>
  <main class="mb-5 pb-5">
    <div class="text-center">
      <img src="circlelogo.png" class="text-center" alt="Responsive image" style="width:10%;">
    </div>

    <div class="container">
      <div class="row ">
        <div class="col-md-12">
          <img style='float:left;' class="w-50 mr-3 mb-3 mt-3 rounded" src="hula.jpg" />
          <p class="mt-3 text-justify">The Java Barn is a student-run music venue at St. Lawrence University that was
            established in 1993. It is a well-known venue among touring bands all over the United States. We have
            hosted bands such as Grace Potter and the Nocturnals, Ani DiFranco, Guster, Dave Matthews Band, and
            Twiddle.</p>
          <p class="mt-2 text-justify">In the early-mid 1980s, there was a popular folk music scene, especially in
            northern New York state. A group of students at SLU who were interested in having live music at the
            school, petitioned and established a coffeehouse in Payson Hall, one of the school’s buildings. They lived
            in a dormitory at 3 University Avenue, and thus the Theme Housewas created. Shows typically took place on
            Friday and Saturday nights and the tenants routinely made the 10-minute “trek” between their residence and
            Payson to facilitate the shows.</p>
          <p class="mt-2 text-justify">
            In 1992, Payson Hall was renovated into SLU’s admissions building. A new venue had to be established,
            and student Jamie Schapiro (’94) spearheaded the search and co-founded the new coffee house. The chosen
            candidate was an old barn located behind 5 University Avenue. This would prove convenient, as the new
            residence and venue was one house up from where the current students were living. The house was named
            the Coffee House, and the barn was christened as the Java House and later named Java Barn.
            Operating between Fall 1993 to Spring 2006, the Barn’s location was popular because it bordered the
            SLU campus and was near the town center. This brought about interaction with the local community,
            and students enjoyed the distance from the main campus and their studies.
          </p>
          <img style='float:right;' class="w-25 ml-3 mb-3 pb-3 rounded" src="performers.jpg" />
          <p class="mt-2 text-justify">Towards the end of the 90s, the nature of shows at Java began to change: louder, amplified rock gigs
            replaced the quieter acoustic folk concerts. Because of Java’s proximity to the Elm St. neighborhood, a
            petition was delivered to President Sullivan, protesting the loudness of the Barn. After much deliberation
            between the members and the administration, it was decided that Java would have to be moved. This new
            location
            would be the Winning Health Center, about 50 feet from the Payson Coffeehouse. To commemorate its closing,
            Java’s annual festival, “Java Jam” would be the Barn’s last show. On May 6, 2006, the Ryan Montbleau
            Band was the final artist to play in the venue, and the Barn was closed forever.</p>
          <p class="mt-2 text-justify">
            After brainstorming the possibilities of Java’s future home, the Winning Health Center
            seemed a natural choice for its relocation. The Health Center’s location in the center of
            campus put Java far away from the possibility of neighbors complaining about noise, and it
            would be easy to reconfigure the building to suit Java’s needs. Students would continue to
            live at 5 University Ave. and would make “the trek” to the Health Center for shows.
          </p>
          <p class="mt-2 text-justify">
            This location was originally proposed to be a temporary location, s
            ince the demolition of the Health Center & Artery buildings have been in
            the University’s master plans for years. This demolition would ultimately
            create green space that was lost due to the construction of the Student Center.
            The University decided to tear down the Health Center Venue in 2010, and
            that year the Health Center venue housed its final concert.

          </p>
          <img style='float:left;' class="w-50 mr-3 mb-3 pb-3 rounded" src="java.jpg" />
          <p class="mt-2 text-justify">
              After the closing of the Health Center venue, the University relocated Java to an 
              old biology lab on the south side of campus, next to Brown Hall. The Java house of 
              2010 painted the characteristic inside of the venue in bright, psychedelic colors and 
              patterns. Currently, shows happen on either Thursdays or Saturday nights. There are 12 
              members who live in the house and put on every aspect of the show. Come show some #JavaLove!
          </p>

        </div>
      </div>
  </main>
</body>
<%- include('./foot'); -%>

</html>