<!DOCTYPE html>
<html>
<%- include('head'); -%>

<body>
  <%- include('navbar', {active: 'home'}); -%>
  <main class="p-3">
    <di class="container">
    <div class="block">
      <div class="row">
        <div class="span4">
          <img
            src="circlelogo.png"
            class="mr-3" alt="Responsive image" style="width:25%; float: left;">
          <p class="ml-3 mr-3 p-4">The Java Barn is a student-run music venue at St. Lawrence University that was established in 1993. It is a well-known venue among touring bands all over the United States. We have hosted bands such as Grace Potter and the Nocturnals, Ani DiFranco, Guster, Dave Matthews Band, and Twiddle.</p>
          <p class="ml-3 mr-3 p-4">In the early-mid 1980s, there was a popular folk music scene, especially in northern New York state. A group of students at SLU who were interested in having live music at the school, petitioned and established a coffeehouse in Payson Hall, one of the school’s buildings. They lived in a dormitory at 3 University Avenue, and thus the Theme Housewas created. Shows typically took place on Friday and Saturday nights and the tenants routinely made the 10-minute “trek” between their residence and Payson to facilitate the shows.</p>
        </div>
      </div>
    </div>
  </main>
</body>
  <%- include('./foot'); -%>
</html>
