<header class="navbar navbar-expand navbar-dark bg-dark">
    <h1 class="navbar-brand">The Java Barn</h1>
    <nav class="navbar-nav ml-3">
      <a href="/shows" class="nav-item nav-link <%= active === 'shows' ? 'active' : 'inactive' -%>">Shows</a>
      <a href="/open_mics" class="nav-item nav-link <%= active === 'open mics' ? 'active' : 'inactive' -%>">Open Mics</a>
    </nav>
  </header>