<h3>Make a booking suggestion</h3>
<p>Just saw a rad band in a basement in Burlington? Have a cousin that goes to Berklee? Mihali is an old family friend? Let us know and we'll see if we can make something happen!</p>
<form id="create" class="form">
    <input type="text" name="name" placeholder="Name of the band/act" class="form-control form-control-lg font-weight-bold mb-1">
     <textarea name="description" placeholder="Description" rows="3" class="form-control mb-1"></textarea>
     <button class="btn btn-warning">Submit</button>
</form>
