<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'suggestions'}); -%>
    <main class="p-3">
        <h3>Thanks for your input!</h3>
    </main>
  </body>
</html>
