<h2 class="text-center">Open Mic on <%= new Date(show[0].date).toString().slice(4,15) -%></h2>

<ul class="list-group">
    <li class="list-group-item list-group-item-dark text-center">
      <h4>Line Up</h4>
    </li>
    <%_ for (const performer of show) { -%>
    <li class="list-group-item"><%= performer.name -%> - <%= performer.act -%></li>
    <%_ } -%>
</ul>
