<main class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-sm ">
            <h3 class="text-center">Add New Show</h3>
            <form id="create" class="form">
                <input type="text" name="date" placeholder="YYYY-MM-DD"
                    class="form-control form-control-lg font-weight-bold mb-1">
                <input type="text" name="time" placeholder="HH:mm"
                    class="form-control form-control-lg font-weight-bold mb-1">
                <input type="text" name="performers" placeholder="Performers"
                    class="form-control form-control-lg font-weight-bold mb-1">
                <textarea name="description" placeholder="Description" rows="3" class="form-control mb-1"></textarea>
                <textarea name="link" placeholder="Site Link" rows="3" class="form-control mb-1"></textarea>
                <textarea name="image" placeholder="Image URL" rows="3" class="form-control mb-1"></textarea>
                <div class="text-center">
                    <button class="btn btn-warning">Submit</button>
                </div>
            </form>
            </div>
            <div class="col-sm">
            <table class="table mb-5">
                <h3 class="text-center">Edit Existing Show</h3>
                <thead>
                    <tr>
                        <th class="border-0">Performer</th>
                        <th class="border-0">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <%_ for (const show of shows) { -%>
                    <tr id=<%=show.id-%>>
                        <td><%= show.performers -%></td>
                        <td><%= show.date_string()-%></td>
                        <td><a href='/shows/<%=show.id-%>' class="edit btn btn-warning">Edit</a></td>
                        <td><button class="delete btn btn-warning">Delete</button></td>
                    </tr>
                    <%_ } -%>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</main>
