<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'shows'}); -%>
    <main class='p-3'>
        <p>
            <%= show -%>
        </p>
    </main>
  </body>
</html>
